@font-face {
   font-family: 'Rubik-Bold';
   src: url('../fonts/Rubik-Bold.ttf');
}   
@font-face {
   font-family: 'Rubik-Light';
   src: url('../fonts/Rubik-Light.ttf');
}   
@font-face {
   font-family: 'Rubik-Regular';
   src: url('../fonts/Rubik-Regular.ttf');
}   
@font-face {
   font-family: 'Roboto-BlackItalic';
   src: url('../fonts/Roboto-BlackItalic.ttf');
}   
@font-face {
   font-family: 'Roboto-Bold';
   src: url('../fonts/Roboto-Bold.ttf');
}   
@font-face {
   font-family: 'Roboto-Regular';
   src: url('../fonts/Roboto-Regular.ttf');
}   
@font-face {
   font-family: 'Raleway-Regular';
   src: url('../fonts/Raleway-Regular.ttf');
}   
@font-face {
   font-family: 'Raleway-Black';
   src: url('../fonts/Raleway-Black.ttf');
}   
@font-face {
   font-family: 'Raleway-Thin';
   src: url('../fonts/Raleway-Thin.ttf');
}   